<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book</title>
</head>
<body>
    <h1>Address Book</h1>
    <form id="contactForm" action="/add" method="post" enctype="multipart/form-data" onsubmit="return showPreview();">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>
        <br><br>
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday">
        <br><br>
        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo" accept="image/*" onchange="previewImage(event)">
        <button type="button" onclick="openCamera()">웹캠으로 사진 찍기</button>
        <br><br>
        <video id="video" width="200" height="150" autoplay style="display:none;"></video>
        <canvas id="canvas" width="200" height="150" style="display:none;"></canvas>
        <img id="preview" src="#" alt="Image Preview" style="display:none; max-width:150px; max-height:150px;"/>
        <br><br>
        <button type="submit">Add Contact</button>
    </form>
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
</body>
</html>